<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
         					http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-4.0.xsd
							http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                            http://www.springframework.org/schema/mvc   
							http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<mvc:annotation-driven>
		<mvc:message-converters><!--信息转换器，对json的支持-->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!--配置数据源-->
	<bean id="data" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/chendong?useUnicode=true&amp;characterEncoding=UTF-8"/>
		<property name="username" value="root"/>
		<property name="password" value="w123456"/>

		<property name="initialSize" value="5"/>
		<property name="maxActive" value="100"/>
		<property name="minIdle" value="20"/>
		<property name="maxWait" value="1000"/>
	</bean>

	<!--日志输出-->
	<bean class="org.apache.ibatis.session.Configuration">
		<property name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
	</bean>

	<!--配置会话工厂-->
	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="data"/>
		<property name="typeAliasesPackage" value="com.project.bean"/>
		<property name="mapperLocations" value="classpath:orm/*.xml"></property>
	</bean>

	<!--配置mapper-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.project.mapper"/>
		<property name="sqlSessionFactoryBeanName" value="factory"/>
	</bean>

	<!--配置事务-->
	<bean id="trans" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="data"/>
	</bean>

	<!--方法一、允许注解配置事务-->
	<!--<tx:annotation-driven transaction-manager="trans"/>-->

	<!--方法二、直接配置事务-->
	<tx:advice id="xxx" transaction-manager="trans">
		<tx:attributes>
			<tx:method name="*find" read-only="true"/>
			<tx:method name="*" rollback-for="Exception"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:advisor advice-ref="xxx" pointcut="execution(* com.project.service..*.*(..))"/>
	</aop:config>

	<!--扫包-->
	<context:component-scan base-package="com.project.service,com.project.controller"/>
	
</beans>
