<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="vid">
        <form>
            用户名:<input v-model="username">
            密码:<input v-model="password">
            年龄:<input v-model="age">
            <button type="button" value="注册" @click="adduser">注册</button>
        </form>
        <button @click="hreftwo" class="test-one">点我到第二个页面</button>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>
        var vm = new Vue({
            el:"#vid",
            data:{
                username:"",
                password:"",
                age:""
            },
            methods:{
                adduser:function () {
                    axios.get('http://localhost:7795/wanghejun/addUser.test',{
                        params:{
                            name:this.username,
                            psd:this.password,
                            age:this.age
                        }
                    }).then(function (response) {
                            alert("注册成功")
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                hreftwo(){
                    this.$router.push({ path:'/two.html'  })
                }
            }
        })
    </script>
</body>
</html>