<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
         					http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-4.0.xsd
							http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!--扫描指定包中的spring组件-->
	<context:component-scan base-package="com.project.service">
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
	</context:component-scan>

	<!--数据源-->
	<bean id="data" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/aopdb?characterEncoding=utf-8&amp;allowMultiQueries=true"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>

		<property name="initialSize" value="5"></property>
		<property name="maxActive" value="100"></property>
		<property name="minIdle" value="20"></property>
		<property name="maxWait" value="1000"></property>
   	</bean>

	<!--日志-->
	<bean class="org.apache.ibatis.session.Configuration">
		<property name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"></property>
	</bean>
	<!--会话工厂-->
	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="data"></property>
		<property name="typeAliasesPackage" value="com.project.bean"></property>
		<property name="mapperLocations" value="classpath:orm/*.xml"></property>
	</bean>

	<!--mapper配置-->
	<bean id="mapperConfig" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.project.mapper"></property>
		<property name="sqlSessionFactoryBeanName" value="factory"></property>
	</bean>

	<!--配置事务管理器-->
	<bean id="trans" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource"  ref="data"></property>
	</bean>

	<!--允许使用注解配置事务-->
	<tx:annotation-driven transaction-manager="trans"></tx:annotation-driven>


</beans>
